:root {
  --main-bg-color: #282c34;
  --main-font: 'Raleway', sans-serif;
  --main-font-size: 22px;
  --second-font: 'Just Another Hand', cursive;
}

body {
  text-align: center;
  background-color: var(--main-bg-color);
  font-family: var(--second-font);
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 100px auto 53px;
  grid-gap: 1em;
}

aside,
article,
footer {
  background-color: var(--main-bg-color);
  padding: 1em;
}

header {
  grid-row: 1;
  grid-column: 1 / 4;
  font-family: var(--second-font);
  font-size: 55px;
  color: whitesmoke;
  padding: 10px 0px;
}

.sidebar-left {
  grid-row: 2;
  grid-column: 1 / 2;
}

article {
  grid-row: 2;
  grid-column: 2 / 3;
}

.sidebar-right {
  grid-row: 2;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: 22px;
  color: #cd6a51;
}
.smallHeader {
  font-family: var(--second-font);
  font-size: 50px;

  color: #03a9f4;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
}

.github {
  font-size: 44px;
  padding: 20px 0 50px;
}

.githubContainer,
.githubContainer a:visited {
  display: grid;
  text-decoration: none;
  grid-template-columns: 1fr 1fr 2fr;
  font-family: var(--main-font);
  color: whitesmoke;
  grid-gap: 10px;
}
.githubContainer div {
  padding: 20px;
}

.Avatar {
  animation: avatarAnim 1.5s ease;
}
.aboutmeContainer {
  animation: aboutmeAnim 1.5s ease;
}

@keyframes avatarAnim {
  0% {
    position: relative;

    transform: translate3d(-300px, 0px, 0px);
  }
  100% {
    position: relative;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes aboutmeAnim {
  0% {
    position: relative;

    transform: translate3d(300px, 0px, 0px);
  }
  100% {
    position: relative;

    transform: translate3d(0px, 0px, 0px);
  }
}
a {
  text-decoration: none;
}
